/* Body */
body {
  font: 100% Montserrat, sans-serif;
  font-size: 15px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  color: #333333;
  background-color: #f0f0f0;
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
body main {
  margin-left: auto;
  margin-right: auto;
  max-width: 1080px;
}
body main a {
  color: #14847e;
  text-decoration: none;
}
body main a:hover {
  text-decoration: underline;
}
 
/* Header */
body nav {
  box-sizing: border-box;
  padding: 8px;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1080px;
}
body nav .separator {
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 1px;
  margin: 16px 0;
  width: 100%;
}
body nav .nav-list {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
}
body nav .nav-list a {
  color: #333333;
  font-size: 14px;
  margin-right: 2rem;
  text-decoration: none;
}
body nav .nav-list a:hover {
  text-decoration: underline;
}
body nav .title {
  align-self: flex-start;
  color: #222222;
  font-size: 40px;
  font-weight: 200;
  text-transform: uppercase;
}

/* Page */
.page {
  box-sizing: border-box;
  padding:8px;
  width: 100%;
}
.page-two-column {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  width: 100%;
}
.page-split {
  align-items: center;
  display: flex;
  width: 50%;
}
.page-img-wrapper {
  height: 720px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.page-img-wrapper img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.page-header {
  align-self: center;
  font-size: 22px;
  font-weight: 200;
  text-transform: uppercase;
}
.page-text {
  display: flex;
  flex-direction: column;
  padding: 12px;
  text-align: justify;
  width: 100%;
}

.cv {
  display:flex;
  justify-content: center;
  width: 100%;
}
.cv embed {
  height: 720px;
  width: 80%;
}

/* Publications */
.publication-wrapper {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.publication-wrapper a {
  color: #14847e;
  text-decoration: none;
}
.publication-wrapper a:hover {
  text-decoration: underline;
}
.publication-wrapper img {
  width: 100%;
}
.publications-list {
  display: grid;
  gap: 1rem;
}
.publications-list a:hover {
  text-decoration: none;
}
.publications-single {
  color: #333333;
  border-style: solid;
  border-width: 1px;
  padding: 1rem;
}
.publications-single .title {
  font-weight: 400;
  font-size: 20px;
}
.publications-single p {
  margin: 0;
}
.publications-single .description {
  margin-top: 1rem;
}

/* Footer */
body footer {
  box-sizing: border-box;
  padding: 8px;
  justify-content: space-between;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body footer a {
  margin: 0;
  color: #333333;
  display: inline-block;
  text-decoration: none;
}
body footer a:hover {
  text-decoration: underline;
}
body p {
  line-height: 1.5rem;
}
body .paragraph {
  text-align: justify;
}

/* Media */
@media screen and (max-width: 640px) {
}
@media screen and (max-width: 768) {
}
@media screen and (max-width: 1150px) {
  body nav {
    width: 100%;
  }
  body main {
    width: 100%;
  }
  body footer {
    width: 100%;
  }
}
